<!-- Fixed header on scroll -->
<header class="fixed-header hide-on-small-and-down">
  <div class="main-nav container">
    <nav>
      <div class="nav-wrapper">
        <a href="/" class="brand-logo"><img src="{{asset "img/mark.png"}}" /></a>

        <ul class="left fixed-nav hide-on-med-and-down">
          <li><a href="/tag/lessons">Lessons</a></li>
          <li><a href="/tag/nest">Nest</a></li>
          <li><a href="/tag/style">Style</a></li>
          <li><a href="/tag/quotables">Quotables</a></li>
          <li><a href="/tag/bookmarks">Bookmarks</a></li>
          <li><a href="/tag/#postgradchallenge">#postgradchallenge</a></li>
        </ul>

        <div class="right hide-on-med-and-down">
          <input type="search" placeholder=" SEARCH..."/>
        </div>

      </div>
    </nav>

  </div>
</header>


<!-- Mobile Header -->
<header class="mobile-header hide-on-med-and-up">
  <div class="row">
    <div class="col s2">
    <a class="button-collapse" href="#" data-activates="nav-mobile"><i style="font-size: 40px;" class="mdi-navigation-menu"></i></a>
    </div>

    <div class="col s8" style="height: 50px; text-align:center;">
    <a href="/"><img width="40px" style="margin-top: 10px;" src="{{asset "img/mark/charcoal-small.png"}}" /></a>
    </div>

    <ul id="nav-mobile" class="right side-nav">
      <li>
        <img src="{{asset 'img/mark/charcoal-small.png'}}" width="30px">
      </li>
      <li><a href="/about-blog">About Blog</a></li>
      <li><a href="/about-me">About Me</a></li>
      <li><a href="/tag/lessons">Lessons</a></li>
      <li><a href="/tag/nest">Nest</a></li>
      <li><a href="/tag/style">Style</a></li>
      <li><a href="/tag/quotables">Quotables</a></li>
      <li><a href="/tag/bookmarks">Bookmarks</a></li>
      <li><a href="/tag/#postgradchallenge">#postgradchallenge</a></li>
      <li>
        <div class="copyright">
          <section class="center-align valign"><a href="{{@blog.url}}">&copy; {{date format="YYYY"}} {{@blog.title}} CO.</a></section>
        </div>
      </li>
    </ul>



  </div>

</header>
