<aside class="col s4 m4 hide-on-small-only" style="padding-right: 60px;">
  <div class="logo">
    <a href="/"><img src="{{asset 'img/logo.png'}}" width="100%"/></a>
  </div>

  <div class="erinHeadshot">
    <a href="/about-me"><img src="{{asset 'img/erin.png'}}"/></a>
  </div>

  <div class="tagline">
    <h1>DESIGN<br/>YOUR OWN PATH</h1>
  </div>

  <div class="sidebar-about">
    <p>
      If you've ever had a moment of panic wondering if your career is going
      in the right direction or questioned whether you will ever find
      "your purpose" and "make it", this space is for you. I wanted to carve out
      a little corner of the inter webs that fellow post grads <a href="/about-postgrad" class="bold">READ MORE ...</a>
    </p>
  </div>

  <ul class="nav-social">
    <li><a href="https://twitter.com/realitychicblog"><i class="fa fa-twitter icon-circle"></i></a></li>
    <li><a href="https://instagram.com/realitychicblog/"><i class="fa fa-instagram icon-circle"></i></a></li>
    <li><a href="https://www.pinterest.com/realitychic/"><i class="fa fa-pinterest icon-circle"></i></a></li>
    <li><a href="https://www.facebook.com/efly33"><i class="fa fa-facebook icon-circle"></i></a></li>
  </ul>

  <div class="links">
    <div class="sidebar-divider"></div>
    <ul class="nav-links">
      <li><a href="/about-postgrad">ABOUT POST GRAD</a></li>
      <li class="vertical-divider">|</li>
      <li><a href="/about-me">ABOUT ME</a></li>
    </ul>
    <div class="sidebar-divider"></div>
  </div>


  <div id="instagram"></div>
  <p class="instagram-username"><a href="https://instagram.com/realitychicblog/">@REALITYCHICBLOG</a></p>
  <div class="sidebar-divider"></div>

  <div class="popular-posts">
    <h1>POPULAR</h1>
    <section class="popular-post">
      <a href="#"><img src="{{asset 'img/placeholder.png'}}" width="100%"/></a>
    </section>
    <section class="popular-post">
      <a href="#"><img src="{{asset 'img/placeholder.png'}}" width="100%"/></a>
    </section>
  </div>
  <div class="sidebar-divider"></div>

  <div class="curriculum">
    <h1>CURRICULUM</h1>
    <section class="popular-post">
      <a href="#"><img src="{{asset 'img/placeholder.png'}}" width="100%"/></a>
    </section>
    <div class="more">
      <a href="#" class="more-button">VIEW MORE</a>
    </div>
  </div>
  <div class="sidebar-divider"></div>

  <div class="copyright">
    <section class="center-align valign"><a href="{{@blog.url}}">&copy; {{date format="YYYY"}} {{@blog.title}}</a></section>
  </div>

  <div class="sidebar-divider" style="margin-bottom: 500px;"></div>

</aside>
