<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>{{meta_title}}</title>
  <meta name="description" content="{{meta_description}}" />
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="{{asset "favicon/favicon.ico"}}">
  <link rel="stylesheet" type="text/css" href="{{asset "css/normalize.css"}}" />
  <link rel="stylesheet" type="text/css" href="{{asset "css/materialize.css"}}" />
  <link rel="stylesheet" type="text/css" href="{{asset "css/fonts.css"}}" />
  <link rel="stylesheet" type="text/css" href="{{asset "css/style.css"}}" />

  {{ghost_head}}

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-59496556-1', 'auto');
  ga('send', 'pageview');

  </script>
</head>
<body class="{{body_class}}">

  {{> header}}

  <div class="container">
    {{{body}}}
  </div>
  {{> footer}}
  {{> sectionSlideup}}
  {{> welcomeModal}}

  {{! import javascript scripts}}
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="{{asset "js/materialize.js"}}"></script>
  <script type="text/javascript" src="{{asset "js/firstImpression.min.js"}}"></script>
  <script type="text/javascript" src="{{asset "js/underscore-min.js"}}"></script>
  <script type="text/javascript">

    // everything document ready
    $( document ).ready(function(){
      // Allow mobile side nav
      $(".button-collapse").sideNav();

      // check if it's a first time visitor, then show modal
      if ( firstImpression() ) {
        // new visitor should see visitor
        $('#welcomeModal').openModal();
      } else {
        // existing visitor shouldn't see modal
      }

      // Get instagram pictures
      $.ajax({
        type: "GET",
        dataType: "jsonp",
        url: "https://api.instagram.com/v1/users/190004305/media/recent/?access_token=190004305.5f6fa1e.69bc292015a347ec892d39827c9c8ee1",
        success: function(data) {
          var i = 0;
          var div = document.getElementById('instagram');
          while(i < 5) {
            div.innerHTML = div.innerHTML + '<a href="link"><img src="'+data.data[i].images.low_resolution.url+'"/></a>';
            i++;
          }
        }
      });





    });

    // Add pin it buttons
    $(function(){
      var imagesToPin = $(".post img");
      var url = $(imagesToPin).context.URL;
      console.log(imagesToPin);
      var res = encodeURI(url);
      var media = "http://"+window.location.host+$(imagesToPin).attr('src');
      var mediaRes = encodeURI(media);
      $(imagesToPin).parent().addClass('pinItWrapper');
      $(imagesToPin).parent().append("<a href='http://pinterest.com/pin/create/button/?url="+res+"&media="+mediaRes+"&description="+"' target='_blank' class='pinItButton'></a>");

    });

    // fixed navigation scroll function
    $(function() {
      //caches a jQuery object containing the header element
      var header = $(".fixed-header");
      $(window).scroll(function() {
        var scroll = $(window).scrollTop();

        if (scroll >= 170) {
          header.addClass("show-fixed");
        } else {
          header.removeClass("show-fixed");
        }
      });
    });

    // slideup
    $(function() {
      //caches a jQuery object containing the header element
      var popup = $(".section-slideup");
      $(window).scroll(function() {
        var scroll = $(window).scrollTop();
        if (scroll >= 800) {
          popup.addClass("slideup");
        } else {
          popup.removeClass("slideup");
        }
      });
    });
  </script>

</body>
</html>
